.postModal {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 16;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: var(--GreeyTransparant);
}

.Hide {
    display: none !important;
}
.ErrorMessage {
    display: none;
    color: white;
    position: absolute;
    right: 10px;
    top: 60px;
}

.CreatePostContainer {
    display: flex;
    position: absolute;
    background-color: var(--WhiteBlue);
    margin: auto;
    padding: 10px;
    width: 50vw;
    height: 80vh;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: var(--shadow);
    z-index: 11;
}

.CreatePostContainer form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.titleInput, .postInput {
    padding: 5px;
    width: 93%;
}

.titleInput input:focus, .postInput textarea:focus {
    border: 1px solid var(--Created);
}

.titleInput input, .postInput textarea {
    border-radius: 10px;
    padding: 10px;
    color: var(--BlueGreen);
    font-size: 1rem;
    outline: none;
    border: none;
    width: 100%;
    resize: none;
    background-color: var(--Greey);
}

.titleInput input::placeholder, .postInput textarea::placeholder {
    color: var(--BlueGreen);
}

.postInput {
    width: 100%;
    height: 100%;
}

.postInput textarea {
    color: var(--Black);
    height: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    resize: none;
    width: 100%;
    background-color: var(--Greey);
}

.CategoriesSelector {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
}

.CategoriesSelector label {
    font-size: 16px;
    padding: 6px 10px;
    background-color: var(--BlueGreen);
    border-radius: 3px;
    color: var(--White);
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.CategoriesSelector input {
    display: none;
}

.CategoriesSelector input:checked + label {
    color: var(--White);
    background-color: var(--BlueGreen);
    opacity: 1;
}

.submitButton {
    padding: 10px;
    font-size: 20px;
    font-weight: lighter;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--BlueDarker);
    color: var(--White);
    width: 100%;
    transition: all 0.5s ease;
}

.submitButton:hover {
    background-color: var(--BlueDarker);
    color: var(--WhiteB);
}

.MsgContainer {
    background-color: var(--Created);
    width: fit-content;
    padding: 10px;
    border-radius: 19px;
    margin-top: 10px;
    box-shadow: var(--shadow);
    border-bottom: 1px solid var(--GreeyD);
    z-index: 10;
}

@media (max-width: 768px) {
    .CreatePostContainer {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }
}