.chat-container {
  position: fixed;
  display: flex;
  right: 0;
  width: calc(100% - 22.5%);
  height: 100vh;
  overflow: hidden;
  background: var(--White);
  box-shadow: var(--shadow);
}

.chat-box {
  display: none;
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--WhiteBlue);
}

.chat-header {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: var(--border);
  background: var(--Greey);
}

.chat-header span {
  font-size: 1.2rem;
  color: var(--Black);
  font-style: bold;
}
.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid var(--BlueGreen);
}

.messages-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: calc(100% - 70px);
  overflow-y: auto;
  padding-bottom: 40px;
}
#chat {
  margin-bottom: 70px;
  overflow-y: auto;
  height: 100%;
}

.messages {
  max-width: 75%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 10px;
  position: relative;
}

.received {
  position: relative;
  background: var(--Greey);
  color: var(--Black);
  align-self: flex-start;
  border-bottom-left-radius: 0;
  margin: 8px;
  min-width: 55px;
}
.received-info {
  font-size: 12px;
  margin-bottom: 5px;
  font-style: italic;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
}
.sent {
  position: relative;
  background: var(--BlueGreen);
  color: var(--White);
  align-self: flex-end;
  border-bottom-right-radius: 0;
  margin: 8px;
  min-width: 55px;
}


.message-bubble {
  display: flex;
  justify-content: space-between;
}
.message-time {
  position: absolute;
  font-size: 9px;
  bottom: 1px;
  right: 2px;
}

.sent .message-author{
  font-size: 10px;
  color: var(--GreeyD);
  position: absolute;
  right: 2px;
  bottom: -18px;
}
.received .message-author{
  font-size: 10px;
  color: var(--GreeyD);
  position: absolute;
  left: 2px;
  bottom: -18px;
}

.message-content {
  position: relative;
  margin-right: 30px;
}
.chat-footer {
  align-items: center;
  padding: 10px 0;
  background: var(--WhiteB);
  border-top: var(--border);
  position: absolute;
  justify-content: space-between;
  bottom: 0;
  width: 65%;
}

.msg-input {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid var(--GreeyD);
  background: var(--Greey);
  color: var(--Black);
  outline: none;
  margin: 0 15px 80px;
  width: 86%;
  font-size: 1rem;
}

.send-btn {
  background: transparent;
  border: none;
  color: var(--BlueGreen);
  cursor: pointer;
}

.friends-list {
  width: 35%;
  height: 100%;
  border-left: var(--border);
  background: var(--WhiteBlue);
  overflow-y: auto;
}

.friends-header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 15px;
  text-align: center;
  border-bottom: var(--border);
  background: var(--Greey);
}
.friends-header h2 {
  font-style: italic;
  color: var(--BlueGreen);
}
.friend {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: var(--border);
  cursor: pointer;
  transition: background 0.3s;
}

.friend:hover {
  background: var(--BlueGreenWhite);
}

.friend-avatar {
  position: relative;
}

.status {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  border: 2px solid var(--WhiteBlue);
  margin: 10px;
}

.online {
  background: green;
}

.offline {
  background: var(--GreeyD);
}

.friend-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0px 8px 0px 8px;
  color: var(--Black);
}

.friend-name {
  font-weight: bold;
}

.last-message {
  font-size: 12px;
  color: var(--GreeyD);
}
.time-notif {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: relative;
  padding: 4px;
}

.last-time {
  margin-bottom: 30px;
  font-size: 12px;
  color: #666;
  font-weight: 500;
}

.notification {
  background-color: var(--BlueGreen);
  width: 20px;
  height: 20px;
  font-size: 12px;
  border-radius: 50%;
  position: absolute;
  margin: 15px 5px 0px 0px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease;
}

.notification:hover {
  transform: scale(1.1);
}

.back {
  display: none;
}

.notif {
  height: 40px;
  top: 0;
  position: fixed;
  background-color: var(--WhiteBlue);
  width: 100%;
  display: none;
  justify-content: space-between;
  padding: 8px;
  color: var(--White);
}

.notif .material-symbols-outlined {
  color: var(--Black);
}

.close-message {
  display: none;
}

@media only screen and (max-width: 780px) {
  .chat-box {
    display: none;
    width: 100%;
  }
  .chat-footer {
    height: 60px;
    width: 100%;
  }
  .chat-container {
    width: 100%;
  }
  .back {
    display: block;
    margin-right: 10px;
  }
  .friends-list {
    width: 100%;
  }
  .msg-input {
    width: 80%;
    margin: 0 15px 40px;
  }
  .close-message {
    display: block;
  }
  .notif {
    display: flex;
  }
}

.messages-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

.message-card {
  background: var(--White);
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: var(--shadowLittle);
}

.message-input {
  margin-top: 20px;
}

.message-input textarea {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: var(--border);
}
