{{define "profile-sidebar"}}
<div class="sidebar-right" id="categories">
    <h1 class="h1-title sub-main reverse">
        <div class="switch-icon rotate">
            <span class="material-symbols-outlined">
                autorenew
            </span>
        </div>

        <div class="switch-buttons">
            <span class="main">Profile</span>
            <span class="sub">Categories</span>
        </div>
    </h1>
    
    <div class="ProfileCard">
        <div class="profileImage">
            <img src="/assets/images/profile.png" alt="">
        </div>
        <div class="profileName">
            Please Login first
        </div>
        <div class="profileStatics">
            <span class="analytics">analytics</span>
            <div class="posts">
                <span class="material-symbols-outlined">
                    article
                </span>
                    
                    <span class="postCounts"><a href="/login">Login</a></span>
            </div>
            <div class="comments">
                <span class="material-symbols-outlined">
                    comment
                </span>
                <span class="postCounts"><a href="/register">Register</a></span>
            </div>
        </div>
    </div>
    <!-- <h1 class="h1-title Categories">Categories</h1> -->
    <div class="Categories display">
        <!-- <hr class="categories-line"> -->
        {{range $key, $value := .Categories}}
        <hr>
        <a href="/?type=category&category={{$key}}">

            <div class="trending-item {{if eq $.Profile.Category $key}}selected-category{{end}}">
                <div class="item-category">
                    <p>{{$key}}</p>
                </div>
                <span>{{$value}} Posts</span>
            </div>
        </a>

        {{end}}
    </div>
</div>
{{end}}