<!DOCTYPE html>
		<html lang="en">
		<head>
			<meta charset="UTF-8" />
			<meta http-equiv="X-UA-Compatible" content="IE=edge" />
			<meta name="viewport" content="width=device-width, initial-scale=1.0" />
			<link href="/assets/style/google-icons/google-icons.css" rel="stylesheet" />
			<!--TODO Uncomment <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
			<link id="home" rel="stylesheet" href="/assets/style/root.css" />
			<link id="home" rel="stylesheet" href="/assets/style/error.css" />
			<link id="home" rel="stylesheet" href="/assets/style/create_post.css" />
			<link id="home" rel="stylesheet" href="/assets/style/header.css" />
			<link id="home" rel="stylesheet" href="/assets/style/left_sidebar.css" />
			<link id="message" rel="stylesheet" href="/assets/style/message.css" />
			<link id="home" rel="stylesheet" href="/assets/style/popstyle.css" />
			<link id="home" rel="stylesheet" href="/assets/style/post.css" />
			<link id="register" rel="stylesheet" href="/assets/style/register.css" />
			<link id="home" rel="stylesheet" href="/assets/style/right_sidebar.css" />
			<link id="home" rel="stylesheet" href="/assets/style/style.css" />
			<link id="home" rel="stylesheet" href="/assets/style/ussely_by_js.css" />
			<link rel="icon" href="/assets/images/logo.svg" type="image/svg+xml" />

			<title>{{/*.Settings.Title*/}}</title>
			<style>
				.SPAContainer {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 100vw;
				}
			</style>	
	  <script src="/assets/js/spa.js" defer type="module" id="spa.js"></script>
		</head>
		<body>
			<div class="SPAContainer">
				
			</div>			
		</body>
		</html>
